body {
  background: #EEE;
  background-color: #EEE;
}
.btn, .btn.btn_1.rounded {
  min-width: 140px !important;
  border-radius: 25px !important;
  cursor: pointer;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-previous {
  min-width: 80px !important;
  border-radius: 8px !important;
}
.btn-next {
  min-width: 80px !important;
  border-radius: 8px !important;
}
.btn-reset {
  min-width: 80px !important;
  border-radius: 4px !important;
}
.p-medium {
	font-weight: 500 !important;
	font-size: 1rem !important;
	text-transform: none !important;
	line-height: 1.5rem !important;
	margin-bottom: 0 !important;
	color: #000 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.content-wrapper {
  background: #EEE;
  background-color: #EEE;
}
.content {
  background-color: #FFF;
  padding: 32px;
}
.main-layout {
  height: 100vh;
}
.divider {
  text-align: center;
  height: 1px;
  margin: 30px 0;
  background-color: #e1e8ed;
}
.form-group {
  margin-bottom: 0;
}
#mainNav.navbar-dark .navbar-collapse .navbar-sidenav .nav-link-collapse:after {
  color: #868e96;
  margin-top: 2px;
}
ul.buttons.manage {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: auto;
  right: auto;
  display: flex;
  justify-content: center;
}
.font-14 {
  font-size: 14px;
}
.font-24 {
  font-size: 24px;
}
.approve-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: contain;
}
.approve-logo-table {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: contain;
}
.card-body-icon.img {
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 1;
}
.box-approve {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid #EEE;
  text-align: center;
  margin: 0 auto;
}
#login aside, #register aside {
  width: 430px;
  padding: 45px 60px 60px 60px;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
}
a.btn_1, .btn_1 {
  border: none;
  color: #fff;
  background: #fc5b62;
  outline: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 15px 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  line-height: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
a.btn_1.rounded, .btn_1.rounded {
  -webkit-border-radius: 25px !important;
  -moz-border-radius: 25px !important;
  -ms-border-radius: 25px !important;
  border-radius: 25px !important;
}

a.btn_1.full-width, .btn_1.full-width {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}


custom-checkbox .custom-control-label::before {
  border-radius: .25rem;
}

.custom-control-label::before {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  outline: 0;
  border-radius: 4px;
}

.custom-control-label::after {
  position: absolute;
  top: .25rem;
  left: 0;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  cursor: pointer;
  outline: 0;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #FFFFFF;
  border-color: #000;
  outline: 0;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
  border-color: #000;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23EE5294' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
  color: #000;
  background-color: #FFFFFF;
  border-color: #000;
}
.custom-control.custom-checkbox {
  min-height: auto;
}
.custom-control label {
  padding-left: 15px;
  padding-top: 4px;
}

.custom-control label p {
  color: #555 !important;
  cursor: pointer;
  margin-bottom: 0;
}

.custom-control-input:active~.custom-control-label::before {
  color: #fff;
  background-color: #fff;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}
span.nav-link-text {
  padding-left: 8px;
}
.a-manage {
  border: 1px solid;
  border-radius: 4px;
  padding: 2px 4px;
  margin: 0 4px;
  cursor: pointer;
}
.a-manage.warning {
  border-color: #ffc107;
  background-color: #ffc107;
  color: #FFF;
}
.a-manage.danger {
  border-color: #dc3545;
  background-color: #dc3545;
  color: #FFF !important;
}
.a-manage.success {
  border-color: #28a745;
  background-color: #28a745;
  color: #FFF !important;
}
.badge.badge-pill.badge-danger {
  padding-top: 4px;
  padding-bottom: 4px;
}
.image-info {
  width: 80%;
  max-height: 100%;
  padding: 32px;
}
.middle {
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.box-img .fas.fa-plus-square {
  position: relative;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.dropbox {
  display: none;
}


.icon.fa {
  font-family: ElegantIcons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon.fa::before {
  margin-left: 0;
}
.img-box {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  border: 2px dashed #eee;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.img-box.show img, .img-box.show video {
  max-height: 100%;
  max-width: 100%;
}
.middle {
  position: relative;
}
.middle, .middle-absolute {
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.img-box:hover .middle-absolute {
  display: block;
  z-index: 3;
  color: #fff;
  font-size: 24px;
}
.box-img.circle .img-box:hover .dropbox, .img-box:hover .dropbox {
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 2;
  background-color: #000;
  opacity: .5;
}
.img-box:hover .dropbox {
  border-radius: 8px;
  margin-top: 0;
}
.img-box .middle-absolute {
  display: none;
}
.middle-absolute {
  position: absolute;
}
.box-img {
  position: relative;
}
.box-img input[type=file] {
  display: none;
}
.box-img .input-require {
  display: block !important;
  position: absolute;
  width: 120px;
  height: 32px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.dropzone {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropzone .mb-0.text-center {
  margin: 0 auto;
}
.loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tab-pane {
  border: 1px solid #eee;
  padding: 30px 15px;
}
.adult-head, .children-head {
  background-color: #EEE;
  text-align: center;
  padding: 5px;
}
.adult-head span, .children-head span {
  font-weight: bold;
  font-size: 18px;
  color: #000;
}
.select2 .css-1pahdxg-control, .select2 .css-yk16xz-control {
    min-height: 42px;
}
@media (min-width: 992px) {
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item > .nav-link {
    padding: 10px;
    padding-left: 18px;
  }
  #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level > li > a, #mainNav .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level > li > a {
    padding: 10px;
    padding-left: 2.75em;
  }
}
