.main-layout {
  margin: 130px 0;
}
.btn, .btn.btn_1.rounded {
  min-width: 140px !important;
  border-radius: 25px !important;
}
.menu-one {
  background-color: #262626;
  width: 100%;
  padding: 0 30px;
}
.menu-two {
  background-color: #000;
  width: 100%;
  padding: 20px 30px;
}
header.header.sticky .menu-two {
  padding: 20px 30px;
}
header.header.sticky {
  padding: 0;
}
.container .main-content {
  background-color: #fff;
  margin: 0 auto;
}
.form-control.select {
  padding-left: 36px;
}
input[type=file].form-control {
  padding: 6px 10px;
}
.bs-wizard.step {
  margin: 24px 0;
  justify-content: center;
  display: flex;
}
#register aside.main-content {
  width: auto;
}
.icon.fa {
  font-family: ElegantIcons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon.fa::before {
  margin-left: 0;
}
.img-box {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 2px dashed #eee;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.img-box.show img, .img-box.show video {
  max-height: 100%;
  max-width: 100%;
}
.middle {
  position: relative;
}
.middle, .middle-absolute {
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.img-box:hover .middle-absolute {
  display: block;
  z-index: 3;
  color: #fff;
  font-size: 24px;
}
.box-img .fas.fa-plus-square {
  position: relative;
  font-size: 24px;
  top: 50%;
  transform: translateY(-50%);
}
.dropbox {
  display: none;
}
.box-img.circle .img-box:hover .dropbox, .img-box:hover .dropbox {
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 2;
  background-color: #000;
  opacity: .5;
}
.img-box:hover .dropbox {
  border-radius: 50%;
  margin-top: 0;
}
.img-box .middle-absolute {
  display: none;
}
.middle-absolute {
  position: absolute;
}
.box-img {
  position: relative;
}
.box-img input[type=file] {
  display: none;
}
.box-img .input-require {
  display: block !important;
  position: absolute;
  width: 120px;
  height: 32px;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
@media only screen and (min-width: 992px) {
  header .main-menu {
    top: 8px;
  }
  header.sticky .main-menu > ul > li span > a {
    color: #FFF;
  }
}

@media (max-width: 767px) {
  .main-layout {
    margin: 66px 0;
  }
  .container, .container-sm {
    max-width: 100%;
  }
}